* {padding: 0;margin: 0;vertical-align: baseline;list-style: none;border: 0;
    text-decoration: none;}
/*a{text-decoration: none; list-style: none;}*/

body{font-family: "Philosopher", sans-serif; overflow-x: hidden;}
        .cor-icone{display:-ms-inline-flexbox;color: #75C3E8; margin-left: 36px;}
        .cor-icone svg {height: 20px;}
        .cor-endereco{color: #BABABA;margin: 0px 36px 0px 4px; font-size: 15px;}
        
        .carousel-item img {width: 100%}
        .topo-endereco{display: -webkit-box; display: -ms-flexbox;padding-top: 12px;}
        .menu{float: right; margin-right: 50px;}
        button{float: right;}
        .menu a {
            color: #696969;text-decoration: none; padding: 13px 16px;
            text-transform: uppercase; font-size: 14px;
            }
        .menu ul {margin-bottom: 0;}    
        .menu a:hover{transition: 500ms; background:#00b3fe;  color: #fff}
        .cantainerMenu nav ul li {display: inline-block;list-style: none;} 
            /* topo do site */
        .topo {
            background: -webkit-linear-gradient(90deg, #F8F8F8 80%,#D6D8D9 114%);
            background: -moz-linear-gradient(90deg, #F8F8F8 80%,#D6D8D9 114%);
            background: -o-linear-gradient(#F8F8F8 80%,#D6D8D9 114%);

            background: -webkit-linear-gradient(top, #F8F8F8 80%,#D6D8D9 114%);
            background: linear-gradient(to top, #F8F8F8 80%,#D6D8D9 114%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F8F8', endColorstr='#D6D8D9',GradientType=0 );
            height: 50px;
            width: 100%;
        }
        .logo,menu{display: inline-block;}
        .cantainerMenu {width: 100%;line-height: 90px;height: 105px;}
        .logo img{
            max-width: 100%;
            width: 198px;
            height: 75px;
            padding-left: 56px;
            object-fit: cover;      
        }
        /* .container-fluid {padding: 0 28px 0 28px;} */
        .descricao {
            z-index: 1;
            margin: 13% 4%;
            position: absolute;
        }
        .descricao h1 {font-size: 5em; color: rgb(47, 155, 194)}
        .descricao h4 {margin-top: 8%;color: black}

        .blocos {display: flex; padding: 0px 27px 0px 27px; margin-top: -5%; position: relative;}
        .bloco1 {display: flex; background-color:#1F73BE; height: 276px ;width: 100%;}
        .bloco2 {display: flex; background-color:#017FCA; height: 276px;width: 100%;}
        .bloco3 {display: flex;background-color: #0FB4E9; height: 276px ;width: 100%;}
        .descricaoBloco{ padding: 7% 6%; text-align: initial;width: 100%}
        .descricaoBloco h4 {font-weight: bold;font-size: 27px;}
        .descricaoBloco p {padding-top: 18px;}
        .descricaoBloco a {text-decoration: none ;}
        .descricaoBloco a,span {color: #fff}
        .descricaoBloco span {font-size: 19px;line-height: 0.5;}
        .descricaoBloco a:hover{transition: 300ms; color: #E6E8F9}
        .iconeBloco {right: 0px;position: absolute;}
        .iconeBloco svg {height: 65px;;padding: 25px 22px 0px 0px;    
            color: #fff;position: absolute;right: 0px;}
        .servicos {padding: 30px 0px 0px 0px;}
        .servicos h5 {font-size: 26px;color: #808080;}

        .especialidades {padding-left: 2%; padding-right: 2%;}
        .especialidades span {color: #808080; font-weight: 400; font-size: 19px; line-height: 0.5; text-align: justify;}
        .especialidades h1 {color: #75C3E8; font-size: 28px;margin: 0;padding: 7px 0px 29px 0px;} 
        .especialidades img {float: left;border-radius: 50%;width: 80px;height: 80px;margin-right: 11px;}
        .especialidades p {margin-top: 5px;}
        .itemEspecialidade {padding: 30px 10px 40px 10px;}

        .borda {box-shadow: 0px 0px 15px 0px rgba(128, 128, 128, .2);margin: 25px auto;}

        /* Menu mobile */

        #btn-bars{display: none}
        #menu-mobile ul {margin: 20px;margin-top: 130px;}
        #menu-mobile li {text-align: center;border-top: #BABABA 1px solid;}
        #menu-mobile li:last-child {border-bottom: #BABABA 1px solid;}
        #menu-mobile li a {font-weight: bold;font-size: 16px;padding: 18px;display: block;}

        header #menu-mobile {
            position: fixed;
            top: 0px;
            background-color: #fff;
            width: 80%;
            height: 100%;
            left: -80%;
            overflow: scroll;
            transition: 0.5s;
            z-index: 5;
        }
        header.open-menu #menu-mobile {left: 0;}
        header.open-menu #menu-mobile-mask {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .5);
            z-index: 3;
        }
        
        header.open-menu #menu-mobile img {margin-top: 34px;left: calc(45% - 60px);position: absolute;transition: 1s}
        header.open-menu #menu-mobile ul {margin: 35px;margin-top: 160px;}
        header.open-menu #menu-mobile li {text-align: center;border-top: #BABABA 1px solid;}
        header.open-menu #menu-mobile li:last-child {border-bottom: #BABABA 1px solid;}
        header.open-menu #menu-mobile li a {font-weight: bold;font-size: 16px;padding: 18px;display: block;text-decoration: none;z-index: 8;}

        /* Contatos */
        .contatos {padding: 1% 0% 5% 3%;}
        /*.contatos {padding: 1px 0px 17px 25px;}*/
        .contatos h5 {font-size: 26px;color: #808080;}
        .contato-mapa {padding: 0% 2% 1% 2%;}
        .contato {background-color: #2F9BC2;margin-bottom: 10px;}
        .contato .row {padding: 50px 22px 50px 22px;}
        .contato p {margin: 0; color: #fff; text-align: left;margin: 4px;}
        .contato svg {height: 21px;padding-bottom: 3px;padding-right: 6px;}
        /*footer*/

        .footer {background-color: #0FB4E9; width: 100%; height:50px;}
        .footer span {line-height: 3;}

        /*botão scroll top*/
        .btn-top{z-index: 8;position: fixed;bottom: 16px;display: none;
            right: 48%; width: 50px;height: 50px;box-shadow: 0px 0px 20px 0px rgba(128, 128, 128, .2);
            background-color: rgba(47, 155, 194, .6);border-radius: 50% }

        .btn-top-link{display: block;width: 100%;height: 100%;
            text-align: center;color: rgb(255,255,255) !important;font-size: 31px;
            font-weight: bold;text-decoration: none !important;}
        .btn-top-link svg {padding-bottom: 5px;height: 41px;} 
        .floating-wpp .floating-wpp-button svg {width: 118% !important;}

        @media (max-width:1095px){
            .descricaoBloco h4 {font-size: 22px;}
        }    
        @media (max-width:900px){
            .descricao h1 {font-size: 64px;}
            .descricao h4 {font-size: 24px;}
        }
        @media (max-width:812px){
            .container-fluid {width: 99%;}
            .descricao h1 {font-size: 63px;}
            .descricao h4 {font-size: 22px;}
            .menu {display: none;}
            #btn-bars {color: #00AFF0;font-size: 22px;position: absolute;
                border:none;background: none;right: 0;padding-right: 33px;display: inline-block;}
            /* .menu {margin-right: 49px;} */
        }
        @media (max-width:768px){
            .btn-top {right: 30px;bottom: 85px;width: 49px;height: 49px;}
            .btn-top-link svg {height: 49px;}
            .floating-wpp {bottom: 22px !important;}
            .floating-wpp-button {width: 50px !important;height: 50px !important;}
            /*.floating-wpp .floating-wpp-button svg {width: 122% !important;}*/
            .descricao h1 {font-size: 62px;}
            .descricao h4 {font-size: 22px;}
            .blocos {flex-direction: column; padding: 7% 0;margin-top: 3%;padding: 0;}
            .bloco1 {height: 100%;margin-bottom: 1%;border-radius: 1%;width: 100%;}
            .bloco2 {height: 100%;margin-bottom: 1%;border-radius: 1%;width: 100%;}
            .bloco3 {height: 100%;margin-bottom: 1%;border-radius: 1%;width: 100%;}
            .descricaoBloco h4 {font-size: 30px;}
            .descricaoBloco span {font-size: 20px;}
            .servicos {padding: 6% 0% 1% 1%;}
            #btn-bars {padding-right: 32px;}
        }
        @media (max-width:700px){
            .descricao h1 {font-size: 57px;}
            .descricao h4 {font-size: 20px;}
            .menu {display: none;}
            .blocos {flex-direction: column; padding-top: 7%;; margin-top: 0}
        }
        @media (max-width:640px){
            .contato .row {padding: 10px 22px 10px 22px;}
            .contatos iframe{height: 250px;}
            .topo-endereco {display: inherit;}
            .endereco {float: left;}
            .endereco span.cor-icone {margin-left: 12px}
            .telefone {float: right;}
            .telefone span.cor-endereco {margin-right: 12px;}
            .cor-endereco {margin: 0;}
            .cor-icone {margin: 0;}
            .carousel-item img {width: 120%}
            .container-fluid {padding:0 1%;}
            .logo img {width: 155px; height: 72px; padding-left: 17px;}
            .descricao h1 {font-size: 54px;}
            .descricao h4 {font-size: 21px;}
            #btn-bars {padding-right: 17px;}
            #btn-bars {margin-right: 17px;padding: 0; cursor: pointer;}
            .container-slide {padding-left: 2%;padding-right: 2%;}
            .container-blocos {padding-left: 2%;padding-right: 2%;}
            .especialidades {padding-left: 2%;padding-right: 2%;}
        }
        @media (max-width:520px){
            .descricao h1 {font-size: 48px;}
            .descricao h4 {font-size: 18px;}
        }
        @media (max-width:500px){
            /* .cor-endereco {margin: 0px 9px 0px 4px} */
            .descricao h1 {font-size: 47px;}
            .descricao h4 {font-size: 18px;}
        }
        @media (max-width:425px){
            .descricao {margin: 8% 4%;}
            .cor-endereco {font-size: 14px;margin: 0px 0px 0px 4px;}
            .descricao h1 {font-size: 45px;}
            .descricao h4 {font-size: 16px;}
        }
        @media (max-width:400px){
            /*.carousel-item img {width: 120%}*/
            .iconeBloco svg {padding: 25px 9px 0px 0px;}
            .descricaoBloco{padding: 6% 0% 0% 3%;}
            .descricaoBloco h4 {font-size: 26px;}
            .descricaoBloco span {font-size: 18px;}
            .descricaoBloco p {padding-right: 5px;}
            .cor-endereco {font-size: 13px;}
            .descricao h1 {font-size: 40px;}
            .descricao h4 {font-size: 15px;}
        }
        @media (max-width:375px){
            .logo img {width: 152px;height: 70px;padding-left: 17px;}
            .descricao {margin: 8% 4%;}
            .descricao h1 {font-size: 39px;}
            .descricao h4 {font-size: 14px;}
            .cor-endereco {margin-left: 0px 0px 0px 4px;font-size: 13px;}
            /*.descricaoBloco{ padding: 7% 6%; text-align: initial}*/
            /*.descricaoBloco h4 {font-size: 20px;}*/
            /*.descricaoBloco span {font-size: 14px;}*/
            .iconeBloco i {font-size: 44px;padding: 16px;color: #fff}
        }
        @media (max-width:360px){
            .descricaoBloco h4 {font-size: 24px;}
            .descricao h1 {font-size: 38px;}
            .descricao h4 {font-size: 13px;}
            .cor-icone {margin-left: 10px;}
            .cor-endereco {font-size: 13px;}
        }
        @media (max-width:320px){
            .iconeBloco svg {padding: 25px 9px 0px 0px;}      
            .logo img {width: 123px;height: 56px;padding-left: 16px;}
            .cantainerMenu {height: 90px;}
            .descricao {margin: 10% 4%;}
            .descricao h1 {font-size: 35px;}
            .descricao h4 {font-size: 13px;}
            .cor-icone {margin-left: 7px;}
            .cor-endereco {font-size: 12px;}
            .blocos {margin-top: 3%;padding: 0;}
            /*.descricaoBloco{padding: 6% 0% 0% 3%;}*/
            .descricaoBloco h4 {font-size: 22px;}
            .iconeBloco i {padding: 9px 14px;color: #fff}
        }