p,html.body{margin: 0;padding: 0}
a{text-decoration: none; list-style: none;}

body{font-family: "Philosopher", sans-serif}
        .cor-icone{color: #75C3E8; margin-left: 36px;}
        .cor-endereco{color: #BABABA;margin: 0px 36px 0px 4px; font-size: 15px;}
        
        .topo-endereco{display: -webkit-inline-box;padding-top: 12px;}
        .menu{float: right; margin-right: 50px;}
        button{float: right;}
        .menu a {
            color: #696969;text-decoration: none; padding: 13px 16px;
            text-transform: uppercase; font-size: 14px;
            }
        .menu ul {margin-bottom: 0;}    
        .menu a:hover{transition: 500ms; background:#00b3fe;  color: #fff}
        .cantainerMenu nav ul li {display: inline-block;list-style: none;}
        .topo {
            background: -webkit-linear-gradient(90deg, #F8F8F8 80%,#D6D8D9 100%);
            background: -moz-linear-gradient(top, #F3F3F3 80%,#D6D8D9 100%);
            height: 50px;
            width: 100%;
        }
        .logo,menu{display: inline-block;}
        .cantainerMenu {width: 100%;line-height: 90px;height: 105px;}
        .logo img{
            max-width: 100%;
            width: 198px;
            height: 75px;
            padding-left: 56px;
            object-fit: cover;           
        }
        .container-fluid {padding: 0 28px 0 28px;}
        /*.carousel-item h1 {color: black}*/
        .descricao {
            z-index: 1;
            margin: 13% 4%;
            position: absolute;
        }
        .descricao h1 {font-size: 5em; color: rgb(47, 155, 194)}
        .descricao h4 {margin-top: 8%;color: black}

        .blocos {display: flex; padding: 0px 27px 0px 27px; margin-top: -5%; position: relative;}
        .bloco1 {display: flex; background-color:#1F73BE; height: 276px ;width: 100%;}
        .bloco2 {display: flex; background-color:#017FCA; height: 276px;width: 100%;}
        .bloco3 {display: flex;background-color: #0FB4E9; height: 276px ;width: 100%;}
        .servicos {padding-top: 50px}
        .descricaoBloco{ padding: 7% 6%; text-align: initial}
        .descricaoBloco h4 {font-weight: bold}
        .descricaoBloco p {padding-top: 18px;}
        .descricaoBloco a {text-decoration: none ;}
        .descricaoBloco a,span {color: #fff}
        .descricaoBloco a:hover{transition: 300ms; color: #E6E8F9}
        .iconeBloco i {font-size: 40px;padding: 35px 22px 0px 0px;color: #fff}
        @media (max-width:900px){
            .descricao h1 {font-size: 64px;}
            .descricao h4 {font-size: 24px;}
            .menu {display: none;}
        }
        @media (max-width:812px){
            .container-fluid {width: 99%;}
            .descricao h1 {font-size: 63px;}
            .descricao h4 {font-size: 22px;}
            .menu {display: none;}
            /* .menu {margin-right: 49px;} */
        }
        @media (max-width:768px){
            .descricao h1 {font-size: 62px;}
            .descricao h4 {font-size: 22px;}
            .menu {display: none;}
            .blocos {flex-direction: column; padding: 7% 0;margin-top: 3%;padding: 0;}
            .bloco1 {height: 100%;margin-bottom: 1%;border-radius: 1%;width: 100%;}
            .bloco2 {height: 100%;margin-bottom: 1%;border-radius: 1%;width: 100%;}
            .bloco3 {height: 100%;margin-bottom: 1%;border-radius: 1%;width: 100%;}
        }
        @media (max-width:700px){
            .descricao h1 {font-size: 57px;}
            .descricao h4 {font-size: 20px;}
            .menu {display: none;}
            .blocos {flex-direction: column; padding: 7% 0; margin-top: 0}
        }
        @media (max-width:640px){
            .container-fluid {padding-right: 8%;}
        }
        @media (max-width:500px){
            .descricao h1 {font-size: 35px;}
            .descricao h4 {font-size: 15px;}
            .logo img {width: 158px; height: 60px; padding-left: 38px;}
        }
        @media (max-width:425px){
            .descricao {margin: 8% 4%;}
            .cor-endereco {font-size: 11px;}
            .descricao h1 {font-size: 34px;}
            .descricao h4 {font-size: 13px;}
        }
        @media (max-width:400px){
            .cor-endereco {font-size: 11px;}
            .descricao h1 {font-size: 30px;}
            .descricao h4 {font-size: 13px;}
        }
        @media (max-width:375px){
            .descricao {margin: 8% 4%;}
            .descricao h1 {font-size: 30px;}
            .descricao h4 {font-size: 11px;}
            .cor-endereco {margin-left: 2px;font-size: 10px;}
            .descricaoBloco{ padding: 7% 6%; text-align: initial}
            .descricaoBloco h4 {font-size: 24px;}
            .descricaoBloco span {font-size: 14px;}
            .iconeBloco i {font-size: 44px;padding: 16px;color: #fff}
        }
        @media (max-width:360px){
            .descricao h1 {font-size: 20px;}
            .descricao h4 {font-size: 10px;}
            .cor-icone {margin-left: 10px;}
            .cor-endereco {font-size: 13px;}
        }
        @media (max-width:320px){
            .logo img {width: 120px;height: 44px;padding-left: 33px;}
            .cantainerMenu {height: 90px;}
            .descricao {margin: 10% 4%;}
            .descricao h1 {font-size: 25px;}
            .descricao h4 {font-size: 11px;}
            .cor-icone {margin-left: 7px;}
            .cor-endereco {font-size: 10px;}
            .blocos {margin-top: 3%;padding: 0;}
            .descricaoBloco{padding: 6% 0% 0% 7%;}
            .iconeBloco i {padding: 23px 14px;color: #fff}
        }